
 :root {
    --red: #f0394d;
    --green: #00ff00;
    --blue: #00ff00;
    --yellow: #00ff00;
    --white:#fff;
--black:#000;


    --lred: #fa4753;
    --white: #ffffff;
    --black: #17181c;
    --blue: #98A5C9;
}
